*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.block{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}
.block-1{
    background-color: red;
}
.block-2{
    background-color: greenyellow;
    float: right;
}
.block-3{
    background-color: yellow;
    clear: both;
    float: left;
}
.block-4{
    background-color: violet;
    clear: left;
}