*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('./imgs/blog-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.parl{
    width: 100%;
    height: 50VH;
    background-image: url('./imgs/blog-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}